<section class="text-white pb-0 bg-gradient o-hidden">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-12">
        <h1 class="display-3">Aktionen</h1>
        <p class="lead mb-0">Corona Spezial: Hier findest du aktuelle Aktionen aus der IT-Community rund um das Thema Corona-Virus.</p>

      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>

<section class="pb-0">
  <div class="container">
    <div class="row section-title justify-content-center mb-5">
      <div class="col-md-9 col-lg-8 col-xl-12">
        <app-current-campaigns></app-current-campaigns>
      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-primary"></div>
</section>
