<section class="p-0">
  <div class="divider divider-bottom bg-primary-3">
  </div>
</section>

<footer class="bg-primary-3 text-white links-white pb-4 footer-1">
  <div class="container">
    <div class="row">
      <div class="col-xl-auto mr-xl-5 col-md-3 mb-4 mb-md-0">
        <h5>Mach mit!</h5>
        <ul class="nav flex-row flex-md-column">
          <li class="nav-item mr-3 mr-md-0">
            <span class="nav-link fade-page px-0 py-2" >
            Bau mit an der Plattform: <a href="https://github.com/stevenschwenke/ithubbs_frontend" target="_blank">Frontend-Repo</a> + <a href="https://github.com/stevenschwenke/ithubbs_backend" target="_blank">Backend-Repo</a>
              </span>
          </li>
          <li class="nav-item mr-3 mr-md-0">
            <a class="nav-link fade-page px-0 py-2" href="https://twitter.com/ithubbs" target="_blank">Twittere!</a>
          </li>
          <li class="nav-item mr-3 mr-md-0">
            <a class="nav-link fade-page px-0 py-2" href="https://www.ithubbs.de/atom" target="_blank">Atom-Feed alle Events</a>
          </li>
          <li class="nav-item mr-3 mr-md-0">
            <a class="nav-link fade-page px-0 py-2" href="https://www.ithubbs.de/atom/generalPublic" target="_blank">Atom-Feed nicht-Events für breite Öffentlichkeit</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
      <div class="col-auto">
        <div class="d-flex flex-column flex-sm-row align-items-center text-small">
          <div class="text-muted">© 2019 Page protected by reCAPTCHA and subject to Google's <a href="https://www.google.com/policies/privacy/" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a>
          </div>
        </div>
      </div>
      <div class="col-auto mt-3 mt-lg-0">
        <ul class="list-unstyled d-flex mb-0">
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="" alt="Dribbble" class="icon icon-xs bg-white" data-inject-svg="">
            </a>
          </li>
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="" alt="Twitter" class="icon icon-xs bg-white" data-inject-svg="">
            </a>
          </li>
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="" alt="Github" class="icon icon-xs bg-white" data-inject-svg="">
            </a>
          </li>
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="" alt="Facebook" class="icon icon-xs bg-white" data-inject-svg="">
            </a>
          </li>
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="" alt="Google" class="icon icon-xs bg-white" data-inject-svg="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Required vendor scripts (Do not remove) -->
<script type="text/javascript" src="/assets/js/popper.min.js"></script>

<!-- Required theme scripts (Do not remove) -->
<script type="text/javascript" src="/assets/js/theme.js"></script>
