<div class="footer container-fluid">
    <div class="row">
        <div class="col-sm">
            <h3>Mach mit!</h3>
            <ul>
              <li>Bau mit an der Plattform: <a href="https://github.com/stevenschwenke/ithubbs_frontend" target="_blank">Frontend-Repo</a> + <a href="https://github.com/stevenschwenke/ithubbs_backend" target="_blank">Backend-Repo</a>
                </li>
                <li><a href="https://twitter.com/ithubbs" target="_blank">Twittere!</a></li>
                <li><a href="https://www.ithubbs.de/atom" target="_blank">Atom-Feed alle Events</a></li>
                <li><a href="https://www.ithubbs.de/atom/generalPublic" target="_blank">Atom-Feed nicht-Events für breite Öffentlichkeit</a></li>
            </ul>
        </div>
<!--        <div class="col-sm">-->
<!--            <a href="https://www.msg-david.de/" class="logo"><img width="200" height="90"-->
<!--                                                                  src="../../../assets/images/logo_msg_david.svg"></a>-->
<!--        </div>-->
    </div>
</div>
