<div class="footer container-fluid">
    <div class="row">
        <div class="col-sm">
            <h3>Mach mit!</h3>
            <ul>
                <li><a href="https://github.com/stevenschwenke/ithubbs" target="_blank">Verbessere die Plattform</a>
                </li>
                <li><a href="https://twitter.com/ithubbs" target="_blank">Twittere!</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <a href="https://www.msg-david.de/" class="logo"><img width="200" height="90"
                                                                  src="../../../assets/images/logo_msg_david.svg"></a>
        </div>
    </div>
</div>
