<h1>Gruppen</h1>
<p>
  Reihenfolge alphabetisch.
</p>

<table class="table table-responsive">
  <tr>
    <th></th>
    <th>Gruppe</th>
    <th>Beschreibung</th>
  </tr>
  <tr *ngFor="let group of groups">
    <td id="groupLogo_{{group.id}}"> <img *ngIf="group.extractedImageURI" [src]="group.extractedImageURI" height="50px"/> </td>
    <td id="groupName_{{group.id}}"><a href="{{group.url}}" target="_blank">{{group.name}}</a></td>
    <td id="groupDescription_{{group.id}}">{{group.description}}</td>
  </tr>
</table>

<p>
  <b><a href="mailto:steven@stevenschwenke.de">Neue Gruppe melden</a></b>
</p>
