<h1>Gruppen</h1>
<p>
  Hier findest du eine Auflistung der uns bekannten {{groupStatistics.totalNumberOfGroups}} Community-Gruppen in Braunschweig.
</p>

<table class="table table-responsive">
  <tr>
    <th></th>
    <th style="width: 30%">Gruppe</th>
    <th style="width: 30%">Beschreibung</th>
    <th style="width: 30%">Statistiken</th>
  </tr>
  <tr *ngFor="let group of groups">
    <td id="groupLogo_{{group.id}}"><div style="text-align: center"><img *ngIf="group.extractedImageURI" [src]="group.extractedImageURI" height="50px"/></div></td>
    <td id="groupName_{{group.id}}"><a href="{{group.url}}" target="_blank">{{group.name}}</a></td>
    <td id="groupDescription_{{group.id}}">{{group.description}}</td>
    <td id="groupStats_{{group.id}}">
      {{group.totalNumberOfEvents}} Events organisiert.<br />
      Erstes Event {{group.daysPassedSinceFirstKnownEvent | dayRenderPipe}}.<br />
      Letztes Event {{group.daysPassedSinceLastKnownEvent | dayRenderPipe}}.<br />
      Im Schnitt {{group.averageNumberOfEventsPerMonth}} Events pro Monat.
    </td>
  </tr>
</table>

<p>
  <b><a href="mailto:steven@stevenschwenke.de">Neue Gruppe melden</a></b>
</p>
