h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 0px;
  margin-top: 0px;
  padding: 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 10px;
  color: black;
}


:root {
  --content-width: 60rem;
  --section-spacing: 3rem;
}

body {
  font-family: sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.banner {
  z-index: 1;
  width: 100%;
}

.need-to-know {
  color: black;
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

.conf-content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 0 auto var(--section-spacing) auto;
  max-width: var(--content-width);
  grid-gap: 1rem;
  padding: 1rem;
}

.conf-content__tile p {
  overflow-wrap: break-word;
}

.conf-content__tile img {
  max-height: 4.5rem;
  display: block;
  margin: 0 auto 2.5rem auto;
}

.conf-content__tile h3 {
  margin-top: 1rem;
}

.tickets, .team {
  background-image: url("/assets/images/background.svg");
  background-size: cover;
  color: white;
  padding: 5rem;
  text-align: center;

  margin: 0 auto var(--section-spacing) auto;
}

.team {
  padding: 1rem;
  background-position-y: 600px;
  margin-top: 5rem;
}

.team h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.team ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.team li {
  display: inline-block;
  max-width: 20%;
  margin: 0 1.5rem;
}

.team figure {
  margin-bottom: 0;
}

.team figcaption {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.sponsors {
  max-width: var(--content-width);
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 577px) {
  .conf-content {
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 993px) {
  .conf-content {
    grid-gap-column: 8rem;
  }
}
