<h2 class="need-to-know">
  Der am 13.07.2019 gegründete IT Hub e.V. unterstützt die Website und die Veranstaltungen rund um das Hub.
</h2>
<p>
  Wir sind passionierte Menschen mit ganz verschiedenen Hintergründen und haben uns gemeinsam zum Ziel gesetzt, Braunschweig eng zu vernetzen und damit einen IT-Hub zu schaffen. Unserer Erfahrung nach ist reger Austausch ein wichtiger Faktor für die Weiterentwicklung und genau diesen Austausch wollen wir zugänglich gestalten. Wir wollen die IT-Vielfalt in Braunschweig betonen und fördern, indem wir Menschen aus bestehenden Interessengruppen, Wirtschaft, Forschung und Ausbildungsverbänden zusammenbringen und dem Austausch Raum geben. Wir können alle voneinander lernen :)
</p>
<div class="conf-content">
  <div class="conf-content__tile">
    <img src="/assets/images/save-file-option.svg">
    <h3>Satzung und Beitragsordnung</h3>
    <p>
    Die Satzung ist das wichtigste Dokument eines Vereins und regelt Zweck, Versammlungen und Organe. Sie kann <a href="assets/static/satzung_ithub.pdf" target="_self" download >hier</a> heruntergeladen werden.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/support.svg">
    <h3>Beitragsordnung</h3>
    <p>
      Unser Verein finanziert sich hauptsächlich aus Spenden, weshalb der Mitgliedsbeitrag recht gering ist. In der <a href="assets/static/beitragsordnung_ithub.pdf" target="_self" download >Beitragsordnung</a> findest du Details.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/terminal.svg">
    <h3>Mitgliedsantrag</h3>
    <p>
      Du möchtest dem Verein beitreten und so die IT-Community in Braunschweig stärken? Sehr gern! <a href="assets/static/mitgliedsantrag_ithub.pdf" target="_self" download >Hier</a> kannst du den Mitgliedsantrag herunterladen. Schicke diesen bitte im Original an die Vereinsanschrift zurück.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/terminal.svg">
    <h3>Aktueller Vorstand</h3>
    <p>
      Unser Vorstand ist wie folgt besetzt:
    </p>
      <ul>
        <li>1. Vorsitzender: <a href="https://stevenschwenke.de" target="_blank">Steven Schwenke</a></li>
        <li>2. Vorsitzende: <a href="https://twitter.com/Pecc0r" target="_blank">Rebecca Husemann</a></li>
        <li>Kassenwart: <a href="http://oliver-milke.de" target="_blank">Oliver Milke</a></li>
        <li>Schriftführer: <a href="https://github.com/joshavg" target="_blank">Josha von Gizyzki</a></li>
      </ul>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/brain.svg">
    <h3>Meet the Hub - monatliches Treffen des IT Hub Braunschweig</h3>
    <p>
      Eine aktive Community treibt uns an. Deshalb findet an <b>jedem 3. Donnerstag im Monat</b> ein Treffen für alle Vereinsmitglieder und Interessierte statt. Schau doch einfach mal vorbei! :)
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/terminal.svg">
    <h3>Kontakt</h3>
    <p>
      Du möchtest den Verein erreichen? Das ist leicht! Per Mail sind wir unter <a href="mailto:vorstand@ithubbs.de">vorstand@ithubbs.de</a> erreichbar. Postalisch findet man uns hier: <br>Im Garßenhof 19, 38259 Salzgitter
    </p>
  </div>
</div>
