<h1>How to use</h1>
<p>Diese Plattform bietet für verschiedene Zielgruppen Vorteile:</p>

<h2>Entwickler</h2>
<p>
Bist du neu in der Stadt oder möchtest dich informiert halten, was so passiet? IT-Hub Braunschweig bietet dir einen Überblick über alle Gruppen und Events, auf denen du andere Entwickler und potentielle Arbeitgeber treffen kannst.
</p>

<h2>Unternehmen</h2>
<p>
Du als Führungskraft möchtest gut ausgebildete Entwickler als Mitarbeiter? Zeige IT-Hub Braunschweig auf den Monitoren in deinen Konferenzräumen an oder weise deine Entwickler regelmäßig auf die in Braunschweig stattfindenden, hochwertigen und kostenfreien Schulungen hin.
</p>

<h2>Organisator</h2>
<p>Als Organisator eigener Veranstaltungen kannst du auf IT-Hub Braunschweig nicht nur deine eigene Nische finden, sondern auch noch freie Slots für deine Regeltermine.</p>

<app-footer></app-footer>
