<p-toast></p-toast>

<p align="right">
  <button
    id="logoutbutton"
    (click)="logout()"
    class="btn btn-primary background-attention"
    style="margin-right: 10px"
  >
    <span style="font-weight: bold">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
      Logout {{loginUser}}
    </span>
  </button>
</p>

<h1>Admin-Ansicht der Events</h1>

<p-overlayPanel
  #overlay
  [showCloseIcon]="true"
  [dismissable]="true">
  <h1 id="newEventHeader">Neues Event</h1>
  <form [formGroup]="newEventForm" (ngSubmit)="onAddNewEvent($event, newEventForm, overlay)">
    <div class="container">
      <label for="newEventName" style="margin-top: 10px">Name</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!newEventForm.controls['newEventName'].valid&&newEventForm.controls['newEventName'].dirty"></p-message>
      <input class="col"
             type="text"
             id="newEventName"
             size="100"
             formControlName="newEventName"
             title="Name"
             placeholder="Pflichtfeld">

      <label for="newEventDate" style="margin-top: 10px">Datum</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!newEventForm.controls['newEventDate'].valid&&newEventForm.controls['newEventDate'].dirty"></p-message>
      <br>
      <p-calendar class="col"
                  id="newEventDate"
                  [showIcon]="true"
                  formControlName="newEventDate"
                  [showTime]="true"></p-calendar>
      <br>
      <label for="newEventURL" style="margin-top: 10px">URL</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!newEventForm.controls['newEventURL'].valid&&newEventForm.controls['newEventURL'].dirty"></p-message>
      <input class="col"
             type="text"
             id="newEventURL"
             size="300"
             formControlName="newEventURL"
             title="URL"
             placeholder="Pflichtfeld">
      <label for="newEventGroup" style="margin-top: 10px">Gruppe</label>
      <br>
      <p-autoComplete
        id="newEventGroup"
        formControlName="newEventGroup"
        [suggestions]="availableGroupsAfterFiltering"
        (completeMethod)="search($event)"
        field="name"
        (onSelect)="selectGroup($event)"
        [dropdown]="true"></p-autoComplete>
      <br>
      <p-checkbox value="false" formControlName="newEventGeneralPublic" label="General Public Event" binary="true"></p-checkbox>
      <br>
      <button
        id="newEventSubmitButton"
        class="btn btn-primary" [disabled]="!newEventForm.valid">
        Speichern
      </button>
    </div>
  </form>
</p-overlayPanel>

<button
  id="createNewEventButton"
  (click)="overlay.toggle($event)"
  class="btn btn-primary">

  <fa-icon [icon]="faPlusSquare"></fa-icon>

  <span style="font-weight: bold">
      Neues Event anlegen
    </span>
</button>

<p-confirmDialog id="confirmationDialog" header="DANGER ZONE" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog
  #overlayEditEvent
  header="Event editieren"
  [transitionOptions]="'0ms'"
  [(visible)]="displayEventEditDialog">
  <form [formGroup]="editEventForm" (ngSubmit)="onSaveEditedEvent($event, editEventForm)">
    <div class="container">
      <input [hidden]="true"
             formControlName="existingEventId">
      <label for="existingEventName" style="margin-top: 10px">Name</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!editEventForm.controls['existingEventName'].valid&&editEventForm.controls['existingEventName'].dirty"></p-message>
      <input class="col"
             type="text"
             id="existingEventName"
             size="100"
             formControlName="existingEventName"
             title="Name"
             placeholder="Pflichtfeld">

      <label for="existingEventDate" style="margin-top: 10px">Datum</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!editEventForm.controls['existingEventDate'].valid&&editEventForm.controls['existingEventDate'].dirty"></p-message>
      <br>
      <p-calendar class="col"
                  id="existingEventDate"
                  [showIcon]="true"
                  formControlName="existingEventDate"
                  [showTime]="true"></p-calendar>
      <br>

      <label for="existingEventURL" style="margin-top: 10px">URL</label>
      <p-message severity="error" text="darf nicht leer sein" *ngIf="!editEventForm.controls['existingEventURL'].valid&&editEventForm.controls['existingEventURL'].dirty"></p-message>
      <input class="col"
             type="text"
             id="existingEventURL"
             size="300"
             formControlName="existingEventURL"
             title="URL"
             placeholder="Pflichtfeld">
      <label for="existingEventGroup" style="margin-top: 10px">Gruppe</label>
      <br>
      <p-autoComplete
        id="existingEventGroup"
        formControlName="existingEventGroup"
        [suggestions]="availableGroupsAfterFiltering"
        (completeMethod)="search($event)"
        field="name"
        (onSelect)="selectGroup($event)"
        [dropdown]="true"></p-autoComplete>
      <br>
      <p-checkbox
        id="existingEventGeneralPublic"
        value="false"
        formControlName="existingEventGeneralPublic"
        label="General Public Event"
        binary="true"></p-checkbox>
      <br>
      <button
        id="existingEventSubmitButton"
        class="btn btn-primary" [disabled]="!editEventForm.valid">
        Speichern
      </button>
    </div>
  </form>
</p-dialog>

<table class="grouptable table table-responsive">
  <tr>
    <th>id</th>
    <th>Datum</th>
    <th>Gruppe</th>
    <th>Event</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let event of events">
    <td id="eventID_{{event.id}}" class="eventtableidcolumn">{{event.id}}</td>
    <td id="eventDate_{{event.id}}">{{event.datetime  | date:'EEEE, dd.MM.yyyy HH:mm'}}</td>
    <td id="eventGroup_{{event.id}}"><a *ngIf="event.group" href="{{event.group.url}}" target="_blank">{{event.group.name}}</a></td>
    <td>
      <a href="{{event.url}}" id="eventURL_{{event.id}}" target="_blank">{{event.name}}</a>
      <span
        *ngIf="event.generalPublic"
        pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet."
        style="margin-left: 10px"
        id="eventGeneralPublic_{{event.id}}">
        <img src="/assets/images/public-interest-icon.png" width="20px">
      </span>
    </td>
    <td>
      <button
        id="editExistingEventButton_{{event.id}}"
        (click)="onEditEvent(editEventForm, event)"
        class="btn btn-primary"
        style="margin-top: -5px">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button
        id="deleteExistingEventButton_{{event.id}}"
        (click)="onDeleteEvent(event)"
        class="btn btn-primary background-attention"
        style="margin-top: -5px; margin-left: 10px">
        <fa-icon [icon]="faRadiation"></fa-icon>
      </button>
    </td>
  </tr>

</table>
<p>
</p>
