<header>
  <img src="/assets/images/conference/conference_banner.png" class="banner">
</header>
<h2 class="need-to-know">
  Los geht's &mdash; das erste Braunschweiger IT
  Barcamp steht an. Das müsst Ihr wissen:
</h2>
<div class="conf-content">
  <div class="conf-content__tile">
    <img src="/assets/images/conference/save-file-option.svg">
    <h3>Save the Date</h3>
    <p>
      Die ITHub-Konferenz findet am 16.11.2019 im
      Haus der Kulturen in Braunschweig statt. Wir
      beginnen um 9:00 Uhr und lassen die Veranstaltung
      um 18:00 Uhr ausklingen.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/support.svg">
    <h3>Barcamp-Format?</h3>
    <p>
      Beim Barcamp bringen die Besucher selbst Vorträge
      und Ideen für Sessions mit und können abstimmen,
      welchen Beitrag sie hören möchten.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/terminal.svg">
    <h3>Die Themen</h3>
    <p>
      IT im Fokus: Die Themen reichen von Java und Docker
      über Crypto und Keepass zu Git und Open Source &mdash;
      auch bis zu gesell&shy;schaftlichen Fragen.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/brain.svg">
    <h3>Und wer kommt?</h3>
    <p>
      Alle sind eingeladen: Entwickler&shy;Innen, Studis,
      Azubis, routinierte Profi&shy;programmierer&shy;Innen und
      interessierte Anfänger. In 2 Slots werden
      unter&shy;schiedliche anspruchs&shy;volle Themen in
      variabler Tiefe vorgestellt.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/solidarity.svg">
    <h3>Für den guten Zweck</h3>
    <p>
      Den Erlös der Veranstaltung spenden wir an den
      Digitalcourage e.V. und unterstützen damit ihre
      wichtige Aufklärungsarbeit.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/code.svg">
    <h3>Das Orgateam</h3>
    <p>
      Wir sind ein passioniertes Team mit ganz
      verschiedenen Hintergründen &mdash; unser
      Wunsch ist es, die Braunschweiger IT eng zu
      vernetzen und damit einen IT-Hub zu schaffen.
    </p>
  </div>
</div>

<section class="tickets">
  <h2>Tickets</h2>
</section>
<div class="pretix-widget-compat" event="https://pretix.eu/ithubbs/BT19/"></div>

<section class="sponsors">
  <h2>Sponsoren</h2>
  <section class="sponsors__gold">
    <h3>Gold</h3>
    <ol>
      <li>
        <a href="//inwerken.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/inwerken-300.png" alt="INWERKEN">
        </a>
      </li>
      <li>
        <a href="//bredex.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/bredex.svg" alt="BREDEX">
        </a>
      </li>
      <li>
        <a href="//triology.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/triology-300.jpg" alt="TRIOLOGY GmbH">
        </a>
      </li>
    </ol>
  </section>
  <section class="sponsors__silver">
    <h3>Silber</h3>
    <ol>
      <li>
        <a href="//smartsquare.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/smartsquare-150.png" alt="Smartsquare">
        </a>
      </li>
      <li>
        <a href="//eckcellent-it.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/eckcellent-150.png" alt="eck*celllent IT">
        </a>
      </li>
      <li>
        <a href="//exxeta.com" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/exxeta-150.png" alt="Exxeta">
        </a>
      </li>
      <li>
        <a href="//fme.de" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/fme-150.jpg" alt="fme">
        </a>
      </li>
      <li>
        <a href="//netzlink.com" rel="noreferrer" target="_blank">
          <img src="/assets/images/conference/netzlink-150.png" alt="netzlink">
        </a>
      </li>
    </ol>
  </section>
</section>

<section class="team">
  <h2>Das Team</h2>
  <ol>
    <li>
      <figure>
        <img src="/assets/images/portraits/steven.png" alt="Steven">
        <figcaption>Steven</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/images/portraits/olli.png" alt="Olli">
        <figcaption>Olli</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/images/portraits/josha.png" alt="Josha">
        <figcaption>Josha</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/images/portraits/rebecca.png" alt="Rebecca">
        <figcaption>Rebecca</figcaption>
      </figure>
    </li>
  </ol>
</section>

<section class="social-media">
  <ul>
    <li>
      <a href="//twitter.com/ithubbs" target="_blank">
        <img src="/assets/images/conference/twitter.svg" alt="twitter">
      </a>
    </li>
    <li>
      <a href="//https://www.xing.com/communities/groups/it-hub-braunschweig-1113033" target="_blank">
        <img src="/assets/images/conference/xing.svg" alt="xing">
      </a>
    </li>
  </ul>
</section>
