<header>
  <img src="/assets/images/conference/conference_banner_2020.png" class="banner">
</header>
<h2 class="need-to-know">
  Zweites Braunschweiger IT Barcamp - das müsst ihr wissen:
</h2>
<div class="conf-content">
  <div class="conf-content__tile">
    <img src="/assets/images/conference/save-file-option.svg">
    <h3>Save the Date</h3>
    <p>
      Die IT Hub-Konferenz findet <strong>jedes Jahr am ersten Samstag im November</strong> statt,
      in 2020 also am 07.11.2020 im Haus der Kulturen in Braunschweig.
      Einlass ist 08:30, die Veranstaltung lassen wir um 18:00 Uhr ausklingen.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/support.svg">
    <h3>Barcamp-Format?</h3>
    <p>
      Beim Barcamp bringen die Besucher selbst Vorträge
      und Ideen für Sessions mit und können abstimmen,
      welchen Beitrag sie hören möchten.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/solidarity.svg">
    <h3>Für den guten Zweck</h3>
    <p>
      Den Erlös der Veranstaltung spenden wir an den
      Digitalcourage e.V. und unterstützen damit ihre
      wichtige Aufklärungsarbeit.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/code.svg">
    <h3>Das Orgateam</h3>
    <p>
      Wir sind ein passioniertes Team mit ganz
      verschiedenen Hintergründen &mdash; unser
      Wunsch ist es, die Braunschweiger IT eng zu
      vernetzen und damit einen IT-Hub zu schaffen.
    </p>
  </div>
</div>

<section class="hdk single-header">
  <h2>Im Haus der Kulturen</h2>
</section>

<div class="conf-content">
  <div class="conf-content__tile">
    <img src="/assets/images/conference/räume.svg">
    <h3>Räumlichkeiten</h3>
    <p>
      Das <a href="http://www.hdk-bs.de" target="_blank">Haus der Kulturen</a> bietet reichlich Räume, sodass wir mehrere Vorträge parallel anbieten können! Dabei gibt es auch sehr kleine Räume, in denen zum Beispiel zu dritt in Ruhe gearbeitet werden kann.
    </p>
  </div>
  <div class="conf-content__tile">
    <img src="/assets/images/conference/barrierefreiheit.svg">
    <h3>Barrierefreiheit</h3>
    <p>
      Leider ist unsere Location nicht vollständig barrierefrei. Das Untergeschoss ist über Rampen erreichbar, hier finden die meisten Vorträge statt. Jedoch gibt es keinen Fahrstuhl ins Obergeschoss. Falls du auf Barrierefreiheit angewiesen bist, kontaktiere uns vor der Konferenz unter <a href="mailto:vorstand@ithubbs.de">vorstand@ithubbs.de</a>
    </p>
  </div>
</div>

<section class="single-header">
  <h2>Vergangene Veranstaltungen</h2>
</section>

<div>
  <p class="text-center">
    <a [routerLink]="'/conference2019'">So sah das Barcamp 2019 aus...</a>
  </p>
</div>

<section class="contact">
  <h2>Kontakt</h2>

  <p>
    Du hast Fragen, Anmerkungen, Vorschläge? Wir freuen uns darauf! Du erreichst uns
    per Mail unter <a href="mailto:vorstand@ithubbs.de">vorstand@ithubbs.de</a>.
  </p>
  <p class="contact__socialmedia">
    Oder du kontaktierst uns über unsere Social Media Kanäle:
    <br>

    <a href="https://twitter.com/ithubbs" target="_blank">
      <img src="/assets/images/conference/twitter_white.svg" alt="Twitter">
    </a>

    <a href="https://www.xing.com/communities/groups/it-hub-braunschweig-1113033" target="_blank">
      <img src="/assets/images/conference/xing.svg" alt="xing">
    </a>
  </p>

</section>
