<p-toast></p-toast>

<p align="right">
  <button
    id="logoutbutton"
    (click)="logout()"
    class="btn btn-primary background-attention"
    style="margin-right: 10px"
  >
    <span style="font-weight: bold">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
      Logout {{loginUser}}
    </span>
  </button>
</p>

<h1>Admin-Ansicht der Gruppen</h1>

<p-overlayPanel
  #overlay
  [showCloseIcon]="true"
  [dismissable]="true">
    <h1>Neue Gruppe</h1>
      <form [formGroup]="newGroupForm" (ngSubmit)="onAddNewGroup($event, newGroupForm, overlay)">
        <div class="container">
          <label for="newGroupName" style="margin-top: 10px">Name</label>
          <p-message severity="error" text="darf nicht leer sein" *ngIf="!newGroupForm.controls['newGroupName'].valid&&newGroupForm.controls['newGroupName'].dirty"></p-message>
          <input class="col"
                 type="text"
                 id="newGroupName"
                 size="100"
                 formControlName="newGroupName"
                 title="Name"
                 placeholder="Pflichtfeld">

          <label for="newGroupURL" style="margin-top: 10px">URL</label>
          <p-message severity="error" text="darf nicht leer sein" *ngIf="!newGroupForm.controls['newGroupURL'].valid&&newGroupForm.controls['newGroupURL'].dirty"></p-message>
          <input class="col"
                 type="text"
                 id="newGroupURL"
                 size="300"
                 formControlName="newGroupURL"
                 title="URL"
                 placeholder="Pflichtfeld">

          <label for="newGroupDescription" style="margin-top: 10px">Beschreibung</label>
          <p-message severity="error" text="darf nicht leer sein" *ngIf="!newGroupForm.controls['newGroupDescription'].valid&&newGroupForm.controls['newGroupDescription'].dirty"></p-message>
          <input class="col"
                 type="text"
                 id="newGroupDescription"
                 size="2000"
                 formControlName="newGroupDescription"
                 title="Description"
                 placeholder="Pflichtfeld">

          <label for="logoUploaderNewGroup" style="margin-top: 10px">Logo</label>
          <p-fileUpload
            #logoUploaderNewGroup
            id="logoUploaderNewGroup"
            customUpload="true"
            (uploadHandler)="onUploadLogo($event)"
            accept="image/*"
            maxFileSize="10000000"
            invalidFileTypeMessageDetail="Nur Bilddateien erlaubt"
            auto="auto">
          </p-fileUpload>

          <button
            id="newGroupSubmitButton"
            class="btn btn-primary" [disabled]="!newGroupForm.valid">
            Speichern
          </button>
        </div>
    </form>
</p-overlayPanel>

<button
  id="createNewGroupButton"
  (click)="overlay.toggle($event)"
  class="btn btn-primary">

  <fa-icon [icon]="faPlusSquare"></fa-icon>

  <span style="font-weight: bold">
      Neue Gruppe anlegen
    </span>
</button>

<table class="grouptable table table-responsive">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>URL</th>
    <th>Beschreibung</th>
    <th>Logo</th>
    <th>Actions</th>
  </tr>

  <p-confirmDialog id="confirmationDialog" header="DANGER ZONE" icon="pi pi-exclamation-triangle"></p-confirmDialog>

  <p-dialog
    #overlayEditGroup
    header="Gruppe editieren"
    [transitionOptions]="'0ms'"
    [(visible)]="displayGroupEditDialog">
    <form [formGroup]="editGroupForm" (ngSubmit)="onSaveEditedGroup($event, editGroupForm, overlayEditGroup)">
      <div class="container">
        <input [hidden]="true"
              formControlName="existingGroupId">
        <label for="existingGroupName" style="margin-top: 10px">Name</label>
        <p-message severity="error" text="darf nicht leer sein" *ngIf="!editGroupForm.controls['existingGroupName'].valid&&editGroupForm.controls['existingGroupName'].dirty"></p-message>
        <input class="col"
               type="text"
               id="existingGroupName"
               size="100"
               formControlName="existingGroupName"
               title="Name"
               placeholder="Pflichtfeld">

        <label for="existingGroupURL" style="margin-top: 10px">URL</label>
        <p-message severity="error" text="darf nicht leer sein" *ngIf="!editGroupForm.controls['existingGroupURL'].valid&&editGroupForm.controls['existingGroupURL'].dirty"></p-message>
        <input class="col"
               type="text"
               id="existingGroupURL"
               size="300"
               formControlName="existingGroupURL"
               title="URL"
               placeholder="Pflichtfeld">

        <label for="existingGroupDescription" style="margin-top: 10px">Beschreibung</label>
        <p-message severity="error" text="darf nicht leer sein" *ngIf="!editGroupForm.controls['existingGroupDescription'].valid&&editGroupForm.controls['existingGroupDescription'].dirty"></p-message>
        <input class="col"
               type="text"
               id="existingGroupDescription"
               size="2000"
               formControlName="existingGroupDescription"
               title="Description"
               placeholder="Pflichtfeld">

        <label for="logoUploaderExistingGroup" style="margin-top: 10px">Logo</label>
        <p-fileUpload
            #logoUploaderExistingGroup
            id="logoUploaderExistingGroup"
            customUpload="true"
            (uploadHandler)="onUploadLogo($event)"
            accept="image/*"
            maxFileSize="10000000"
            invalidFileTypeMessageDetail="Nur Bilddateien erlaubt"
            auto="auto">
        </p-fileUpload>

        <button
          id="existingGroupSubmitButton"
          class="btn btn-primary" [disabled]="!editGroupForm.valid">
          Speichern
        </button>
      </div>
    </form>
  </p-dialog>

  <tr *ngFor="let group of groups">
    <td id="groupID_{{group.id}}" class="grouptableidcolumn">{{group.id}}</td>
    <td id="groupName_{{group.id}}">{{group.name}}</td>
    <td id="groupURL_{{group.id}}"><a href="{{group.url}}" target="_blank">{{group.url}}</a></td>
    <td id="groupDescription_{{group.id}}">{{group.description}}</td>
    <td id="groupLogo_{{group.id}}"> <img [src]="group.imageURI"/> </td>
    <td>
      <button
        id="editExistingGroupButton_{{group.id}}"
        (click)="onEditGroup($event, overlayEditGroup, editGroupForm, group)"
        class="btn btn-primary"
        style="margin-top: -5px">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button
        id="deleteExistingGroupButton_{{group.id}}"
        (click)="onDeleteGroup($event, overlayEditGroup, editGroupForm, group)"
        class="btn btn-primary background-attention"
        style="margin-top: -5px; margin-left: 10px">
        <fa-icon [icon]="faRadiation"></fa-icon>
      </button>
    </td>
  </tr>
</table>
<p>
</p>
