<p-toast></p-toast>

<p align="right">
  <button
    (click)="logout()"
    style="background-color: salmon; padding: 3px; margin: 10px">
    <span style="font-weight: bold">
      Logout {{loginUser}}
    </span>
  </button>
</p>

<h1>Admin-Ansicht der Gruppen</h1>

<p-overlayPanel
  #overlay
  [showCloseIcon]="true"
  [dismissable]="true">
    <h1>Neue Gruppe</h1>
      <form [formGroup]="newGroupForm" (ngSubmit)="onAddNewGroup($event, newGroupForm, overlay)">
        <div class="container">
          <label for="newGroupName" style="margin-top: 10px">Name</label>
          <p-message severity="error" text="darf nicht leer sein" *ngIf="!newGroupForm.controls['newGroupName'].valid&&newGroupForm.controls['newGroupName'].dirty"></p-message>
          <input class="col"
                 type="text"
                 id="newGroupName"
                 size="100"
                 formControlName="newGroupName"
                 title="Name"
                 placeholder="Pflichtfeld">

          <label for="newGroupURL" style="margin-top: 10px">URL</label>
          <p-message severity="error" text="darf nicht leer sein" *ngIf="!newGroupForm.controls['newGroupURL'].valid&&newGroupForm.controls['newGroupURL'].dirty"></p-message>
          <input class="col"
                 type="text"
                 id="newGroupURL"
                 size="300"
                 formControlName="newGroupURL"
                 title="URL"
                 placeholder="Pflichtfeld">

          <label for="newGroupDescription" style="margin-top: 10px">Beschreibung</label>
          <p-message severity="error" text="darf nicht leer sein" *ngIf="!newGroupForm.controls['newGroupDescription'].valid&&newGroupForm.controls['newGroupDescription'].dirty"></p-message>
          <input class="col"
                 type="text"
                 id="newGroupDescription"
                 size="2000"
                 formControlName="newGroupDescription"
                 title="Description"
                 placeholder="Pflichtfeld">

          <button [disabled]="!newGroupForm.valid">
            Speichern
          </button>
        </div>
    </form>
</p-overlayPanel>

<button
  (click)="overlay.toggle($event)"
  style="background-color: #69a17c; padding: 3px; margin: 10px">

  <fa-icon [icon]="faPlusSquare"></fa-icon>

  <span style="font-weight: bold">
      Neue Gruppe anlegen
    </span>
</button>

<table class="table table-responsive">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Beschreibung</th>
  </tr>
  <tr *ngFor="let group of groups">
    <td>{{group.name}}</td>
    <td><a href="{{group.url}}" target="_blank">{{group.url}}</a></td>
    <td>{{group.description}}</td>
  </tr>
</table>
<p>
</p>
