<p align="right">
  <button
    (click)="logout()"
    style="background-color: crimson; padding: 3px; margin: 10px"
  >
    <span style="font-weight: bold">
      Logout {{loginUser}}
    </span>
  </button>
</p>

<h1>Admin-Ansicht der Gruppen</h1>

<table class="table table-responsive">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Beschreibung</th>
  </tr>
  <tr *ngFor="let group of groups">
    <td>{{group.name}</td>
    <td><a href="{{group.url}}" target="_blank">{{group.url}}</a></td>
    <td>{{group.description}}</td>
  </tr>
</table>
<p>
</p>
