/* selected btn css */
.btn-group-toggle .btn:not(:disabled):not(.disabled).active, .btn-group-toggle .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
  color: #fff;
  background-color: #69a17c;
  border-color: #237c4c;
}

/* non selected btn css */
.btn-group-toggle .btn {
  color: #fff;
  background-color: #b7b7b7;
  border-color: #6c757d;
}
