<h2>Aktuelle Veranstaltungen</h2>
<p>
    Hier findest du eine Übersicht der anstehenden Veranstaltungen aller Gruppen in Braunschweig.
</p>
<table class="table table-responsive">
    <tr>
        <th>Datum</th>
        <th>Gruppe</th>
        <th>Event</th>
    </tr>
  <tr *ngFor="let event of events">
    <td>{{event.datetime | date:'EEEE, dd.MM.yyyy HH:mm'}}</td>
    <td><a *ngIf="event.extractedGroup" href="{{event.extractedGroup.url}}" target="_blank">{{event.extractedGroup.name}}</a></td>
    <td>
      <a href="{{event.url}}" target="_blank">{{event.name}}</a>
      <span *ngIf="event.generalPublic" pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet." style="margin-left: 10px"><img src="/assets/images/public-interest-icon.png" width="20px"></span>
    </td>
  </tr>

</table>
<p>
    <b><a href="mailto:steven@stevenschwenke.de">Neue Veranstaltung melden</a></b>
</p>
