<div class="row justify-content-center">
  <div class="col-xl-12 rounded bg-light mb-2">
    <div class="m-2">
      <div class="align-items-center px-3 px-md-4 py-2 py-md-3 text-dark">
        <div class="row">
          <div class="col-xl-3 col-sm-12"><time class="mb-0 text-success">Mittwoch, 06.05.2020 19:00</time></div>
          <div class="col-xl-3 col-sm-12">von <a target="_blank" href="https://freifunk-bs.de">Freifunk Braunschweig</a></div>
          <div class="col-xl-3 col-sm-12"><a class="font-weight-bold" href="{{event.url}}" target="_blank">(online) Freifunk-Treffen</a>
            <span pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet." style="margin-left: 10px"><img src="/assets/images/public-interest-icon.png" width="20px"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 rounded bg-light mb-2">
    <div class="m-2">
      <div class="align-items-center px-3 px-md-4 py-2 py-md-3 text-dark">
        <div class="row">
          <div class="col-xl-3 col-sm-12"><time class="mb-0 text-success">Mittwoch, 06.05.2020 19:00</time></div>
          <div class="col-xl-3 col-sm-12">von <a target="_blank" href="https://freifunk-bs.de">Freifunk Braunschweig</a></div>
          <div class="col-xl-3 col-sm-12"><a class="font-weight-bold" href="{{event.url}}" target="_blank">(online) Freifunk-Treffen</a>
            <span pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet." style="margin-left: 10px"><img src="/assets/images/public-interest-icon.png" width="20px"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 rounded bg-light mb-2">
    <div class="m-2">
      <div class="align-items-center px-3 px-md-4 py-2 py-md-3 text-dark">
        <div class="row">
          <div class="col-xl-3 col-sm-12"><time class="mb-0 text-success">Mittwoch, 06.05.2020 19:00</time></div>
          <div class="col-xl-3 col-sm-12">von <a target="_blank" href="https://freifunk-bs.de">Freifunk Braunschweig</a></div>
          <div class="col-xl-3 col-sm-12"><a class="font-weight-bold" href="{{event.url}}" target="_blank">(online) Freifunk-Treffen</a>
            <span pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet." style="margin-left: 10px"><img src="/assets/images/public-interest-icon.png" width="20px"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 rounded bg-light mb-2">
    <div class="m-2">
      <div class="align-items-center px-3 px-md-4 py-2 py-md-3 text-dark">
        <div class="row">
          <div class="col-xl-3 col-sm-12"><time class="mb-0 text-success">Mittwoch, 06.05.2020 19:00</time></div>
          <div class="col-xl-3 col-sm-12">von <a target="_blank" href="https://freifunk-bs.de">Freifunk Braunschweig</a></div>
          <div class="col-xl-3 col-sm-12"><a class="font-weight-bold" href="{{event.url}}" target="_blank">(online) Freifunk-Treffen</a>
            <span pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet." style="margin-left: 10px"><img src="/assets/images/public-interest-icon.png" width="20px"></span></div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-xl-12">
    <div class="m-2" *ngFor="let event of events">
      <div class="media rounded align-items-center px-3 px-md-4 py-2 py-md-3 bg-white text-dark">
        <h5 class="mb-0">{{event.datetime | date:'EEEE, dd.MM.yyyy HH:mm'}}</h5>
        <a href="{{event.url}}" target="_blank">{{event.name}}</a>
        <span *ngIf="event.generalPublic" pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet." style="margin-left: 10px"><img src="/assets/images/public-interest-icon.png" width="20px"></span>
      </div>
    </div>
  </div>-->
</div>


