<section class="pb-0">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h2 class="display-4">Aktuelle Veranstaltungen</h2>
        <div class="lead">Hier findest du eine Übersicht der anstehenden Veranstaltungen aller Gruppen in Braunschweig.</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-12">
        <div class="m-2" *ngFor="let event of events">
          <div class="media rounded align-items-center px-3 px-md-4 py-2 py-md-3 bg-white text-dark">
            <h5 class="mb-0">{{event.datetime | date:'EEEE, dd.MM.yyyy HH:mm'}}</h5>
            <a href="{{event.url}}" target="_blank">{{event.name}}</a>
            <span *ngIf="event.generalPublic" pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet." style="margin-left: 10px"><img src="/assets/images/public-interest-icon.png" width="20px"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4 mt-md-5">
      <div class="col-auto">
        <div class="alert bg-light">Du möchtest mehr sehen? Hier findest du die komplette <a href="#">eranstaltungsliste</a>!
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Old Table -->

<!-- <table class="table table-responsive">
  <tr>
    <th>Datum</th>
    <th>Event</th>
  </tr>
  <tr *ngFor="let event of events">
    <td>{{event.datetime | date:'EEEE, dd.MM.yyyy HH:mm'}}</td>
    <td>
      <a href="{{event.url}}" target="_blank">{{event.name}}</a>
      <span *ngIf="event.generalPublic" pTooltip="Event ist nicht zu technisch und damit für die breite Öffentlichkeit geeignet." style="margin-left: 10px"><img src="/assets/images/public-interest-icon.png" width="20px"></span>
    </td>
  </tr>

</table>-->


