<h2>Corona-Special</h2>
<p>
  Hier findest du aktuelle Aktionen und Angebote rund um das Thema Corona-Virus.
</p>
<table class="table table-responsive">
  <tr>
    <th>Name</th>
    <th>Beschreibung</th>
  </tr>
  <tr>
    <td>Online-Events</td>
    <td>Viele Präsenz-Veranstaltungen werden zur Zeit auf online-Meetings umgestellt. In unserer Event-Tabelle, siehe oben, führen wir die von der IT-Community Braunschweigs organisierten digitalen Treffen ebenfalls auf.</td>
  </tr>
  <tr>
    <td><a href="https://www.paypal.com/pools/c/8nIcxOA4h8" target="_blank">Persönliche Gesichtsschild Produktion</a></td>
    <td>#makersvsvirus wird auch im Raum Braunschweig gelebt. Hier könnt ihr für die Produktion von Gesichtsschildern für Krankenhäuser, Altenheime, Arztpraxen etc. spenden.</td>
  </tr>
  <tr>
    <td><a href="https://www.oncampus.de/weiterbildung/selbstlernkurse" target="_blank">Selbstlernkurse for free</a></td>
    <td>Mit dem Rabattcode "elearning" stehen bis zum 15.03. alle Selbstlernkurse kostenfrei zur Verfügung. So kann man die Zeit in der Quarantäne sinnvoll nutzen.</td>
  </tr>
  <tr>
    <td><a href="https://wirvsvirushackathon.org" target="_blank">#wirvsvirus - Der Hackathon der Bundesregierung</a></td>
    <td>Während eines Hackathons wurden viele Lösungsansätze entwickelt, die nun umgesetzt werden müssen.</td>
  </tr>
</table>
<!--<p>-->
<!--    <b>Aktuell keine Aktionen bekannt</b>-->
<!--</p>-->
<p>
  Kennst du weitere Aktionen, die hier aufgeführt werden sollten? Dann melde dich bei uns!
    <b><a href="mailto:steven@stevenschwenke.de">Neue Aktion melden</a></b>
</p>
