<section class="pb-0">
<div class="container">
  <div class="row section-title justify-content-center text-center">
    <div class="col-xl-12">
      <h3 class="display-4">Corona-Spezial</h3>
      <div class="lead">Hier findest du aktuelle Aktionen aus der IT-Community rund um das Thema Corona-Virus.</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card mb-2 mb-md-3">
            <div class="d-flex justify-content-between align-items-center p-3 p-md-4">
              <div class="badge badge-pill badge-success mr-5">Online-Events</div>
              <div>Viele Präsenz-Veranstaltungen werden zur Zeit auf online-Meetings umgestellt. In unserer Event-Tabelle, siehe oben, führen wir die von der IT-Community Braunschweigs organisierten digitalen Treffen ebenfalls auf.</div>
            </div>
        </div>
        <div class="card mb-2 mb-md-3">
            <div class="d-flex justify-content-between align-items-center p-3 p-md-4">
              <a class="badge badge-pill badge-success mr-5" href="https://www.paypal.com/pools/c/8nIcxOA4h8" target="_blank">Persönliche Gesichtsschild Produktion</a>
              <div>#makersvsvirus wird auch im Raum Braunschweig gelebt. Hier könnt ihr für die Produktion von Gesichtsschildern für Krankenhäuser, Altenheime, Arztpraxen etc. spenden.</div>
            </div>
        </div>
        <div class="card mb-2 mb-md-3">
            <div class="d-flex justify-content-between align-items-center p-3 p-md-4">
              <a class="badge badge-pill badge-success mr-5" href="https://www.oncampus.de/weiterbildung/selbstlernkurse" target="_blank">Selbstlernkurse for free</a>
              <div>Mit dem Rabattcode "elearning" stehen bis zum 15.03. alle Selbstlernkurse kostenfrei zur Verfügung. So kann man die Zeit in der Quarantäne sinnvoll nutzen.</div>
            </div>
        </div>
        <div class="card mb-2 mb-md-3">
            <div class="d-flex justify-content-between align-items-center p-3 p-md-4">
              <a class="badge badge-pill badge-success mr-5" href="https://wirvsvirushackathon.org" target="_blank">#wirvsvirus - Der Hackathon der Bundesregierung</a>
              <div>Während eines Hackathons wurden viele Lösungsansätze entwickelt, die nun umgesetzt werden müssen.</div>
            </div>
        </div>

    </div>
  </div>
  <div class="row justify-content-center mt-4 mt-md-5">
    <div class="col-auto">
      <div class="alert bg-light">Du möchtest mehr sehen? Hier findest du die komplette <a href="#">Aktionsliste</a>!
      </div>
    </div>
  </div>
</div>
</section>
