/* Header and Navbar */

.header {
  background-color: #0b6e38
}

.navbar {
  background-color: #0b6e38;
  margin-top: -3px;
  margin-left: -12px;
  padding-top: 0.4rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
  border: 1px solid #237c4c;
  border-radius: 4px;
  margin: 1px;
  padding: 10px !important;
}

.nav-link:hover {
  background-color: #237c4c;
  border: 1px solid #69a17c;
  transition: all 0.3s ease;
}

.navbar-toggler:hover {
  background-color: #237c4c;
  transition: all 0.3s ease;
}

/* Structure */

app-current-everything,
app-jour-fixes,
app-local-groups,
app-usage,
app-mission-statement,
app-imprint,
app-conference {
  padding: 1rem;
  display: block;
}

app-conference + app-footer {
  /* hide the footer on the conference page */
  display: none;
}

app-conference {
  max-width: 82rem;
  margin: auto;
}

.conference-banner-container {
  text-align: center;
  max-width: 80rem;
  margin: auto;
}

/* General Stylings */

a {
  color: #533f03 !important;
  font-weight: bold;
}

a:hover {
  color: #533f03 !important;
  font-weight: bold;
}


.btn-primary {
  color: #fff;
  background-color: #0b6e38;
  font-weight: bold;
  border: 1px solid #237c4c;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-primary:hover {
  color: #533f03;
  background-color: #237c4c;
  border: 1px solid #69a17c;
  transition: all 0.3s ease;
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #0b6e38;
  font-weight: normal;
  border: 1px solid #237c4c;
}

.background-attention {
  background-color: #6e160b;
}

.background-attention:hover {
  background-color: rgba(110, 22, 11, 0.63);
}

h1 {
  color: #1c7430;
  margin-top: 20px;
  margin-left: 5px;
  font-weight: lighter;
}

h2 {
  color: #fff;
  background-color: #0b6e38;
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
  padding: 2px 10px 6px;
  font-weight: lighter;
}

h3 {
  margin-top: 20px;
  color: #1c7430;
  font-weight: 700
}

p {
  margin-left: 10px;
}

.container-fluid {
  padding-bottom: 20px;
}

/* Overlay-Panes */

.ui-overlaypanel-close {
  background-color: #6e160b !important;
}

.ui-overlaypanel-close-icon {
  color: #fff !important;
}

/* Tables */

.table tr:hover {
  background-color: #e8f4ed;
  transition: all 0.3s ease;
}

.table td, .table th {
  border-top: 0;
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle
}

.table th {
  font-weight: bold;
  color: #1c7430;
  border-bottom: 2px solid #1c7430 !important;
}

/* Footer */

.footer {
  border-top: 1px solid rgba(0, 0, 0, .125);
  background-color: #f8f9fa
}

.footer .logo {
  float: right;
  margin: 20px 10px;
}
