<h2>Aktuelle Konferenzen</h2>
<table class="table table-responsive">
    <tr>
        <th>Datum</th>
        <th>Konferenz</th>
        <th>Location</th>
        <th>Beschreibung</th>
    </tr>
    <!--<tr>-->
    <!--<td>-->
    <!--09.06.2018-->
    <!--</td>-->
    <!--<td>-->
    <!--<a href="https://ms-wissenschaft.de/ausstellung/veranstaltungen/barcamp-future-works/" target="_blank">Barcamp: Future Works</a>-->
    <!--</td>-->
    <!--<td>-->
    <!--Haus der Wissenschaft, Braunschweig-->
    <!--</td>-->
    <!--<td>-->
    <!--Barcamp zum Thema Digitalisierung.-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--02.08. - 05.08.2018-->
    <!--</td>-->
    <!--<td>-->
    <!--<a href="https://hackenopenair.de" target="_blank">Hacken Open Air</a>-->
    <!--</td>-->
    <!--<td>-->
    <!--Rötgesbüttel-->
    <!--</td>-->
    <!--<td>-->
    <!--Camping-Hacking-Konferenz-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--13.09.2018-->
    <!--</td>-->
    <!--<td>-->
    <!--<a href="https://javaforumnord.de/" target="_blank">Java Forum Nord</a>-->
    <!--</td>-->
    <!--<td>-->
    <!--Hannover-->
    <!--</td>-->
    <!--<td>-->
    <!--Eintägige, Java-zentrierte Konferenz.-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>-->
            <!--02.11.2018-->
        <!--</td>-->
        <!--<td>-->
            <!--<a href="https://www.eventbrite.de/e/health-hack-metropolregion-tickets-49811362125" target="_blank">Health Hack Metropolregion</a>-->
        <!--</td>-->
        <!--<td>-->
            <!--Braunschweig-->
        <!--</td>-->
        <!--<td>-->
            <!--Ziel des Hackathons ist es, möglichst viele unterschiedliche Expertisen zu versammeln und konkrete Lösungen oder Ideen für das Gesundheitswesen zu entwickeln.-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>-->
            <!--17.11.2018-->
        <!--</td>-->
        <!--<td>-->
            <!--<a href="https://hacktalk.de/#hackcamp" target="_blank">HackCamp mit Coderetreat und anderen Themen</a>-->
        <!--</td>-->
        <!--<td>-->
            <!--Braunschweig-->
        <!--</td>-->
        <!--<td>-->
            <!--Eintägige Konferenz mit Coderetreat-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>-->
            <!--08.-09.12.2018-->
        <!--</td>-->
        <!--<td>-->
            <!--<a href="https://barcamptools.eu/barcamp-wolfsburg/" target="_blank">Wolfsburg Barcamp</a>-->
        <!--</td>-->
        <!--<td>-->
            <!--Wolfsburg-->
        <!--</td>-->
        <!--<td>-->
            <!--Unser Barcamp ist generell themenoffen und alle Inhalte sind willkommen! Typische Themen sind aktuelle Technologien, Web- und Designtrends, Netzpolitik und Social Web. Die Digitalisierung in all ihren Fasseten soll bei uns einen leichten Schwerpunkt bilden.-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>-->
        <!--25.-27.01.2019-->
        <!--</td>-->
        <!--<td>-->
        <!--<a href="https://globalgamejam.org/2019/jam-sites/bredex-gmbh" target="_blank">Global Game Jam bei Bredex</a>-->
        <!--</td>-->
        <!--<td>-->
        <!--Lindentwete 1, Braunschweig-->
        <!--</td>-->
        <!--<td>-->
        <!--Global Game Jam-->
        <!--</td>-->
    <!--</tr>-->
</table>
<p>
    <b><a href="mailto:steven@stevenschwenke.de">Neue Konferenz melden</a></b>
</p>
