<!-- Reserved for next year ... -->
<!--<div class="conference-banner-container">-->
<!--  <a routerLink="/conference">-->
<!--    <img src="../../assets/images/conference/conference_banner.png" alt="conference-banner" class="img-fluid">-->
<!--  </a>-->
<!--</div>-->

<h1>Willkommen beim IT-Hub Braunschweig!</h1>

<p>Das IT-Hub Braunschweig unterstützt die aktive Entwickler-Community im lebendigen, sich entwickelnden
  IT-Zentrum Braunschweig.</p>
<app-upcoming-events></app-upcoming-events>

<app-current-campaigns></app-current-campaigns>
