<h1>Für Organisatoren</h1>
<p>
    Du möchtest selbst eine neue Gruppe organisieren? Hier findest du wichtige Informationen.
</p>
<h2>Regeltermine</h2>
<p>
Hier findest du eine Übersicht über die Regeltermine der verschiedenen Gruppen. Einige Gruppen treffen sich jedoch unregelmäßig.
</p>
<table class="table table-responsive">
    <tr>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Freitag</th>
        <th>Samstag</th>
        <th>Sonntag</th>
    </tr>
    <tr>
        <td>
            <!-- Montag -->
        </td>
        <td>
            <!-- Dienstag -->
            letzter im Monat: <a href="https://hacktalk.de/" target="_blank">HackTalk Braunschweig</a>, 17:00 - 19:00
        </td>
        <td>
            <!-- Mittwoch -->
            jeden: <a href="https://freifunk-bs.de" target="_blank">Freifunk-Treffen</a>, ab 19:00<br>
            jeden 3.: <a href="https://www.meetup.com/de-DE/GDG-Braunschweig/" target="_blank">GDG Braunschweig</a><br>
            jeden letzten: <a href="https://www.meetup.com/de-DE/Braunschweig-C-Meetup/" target="_blank">Braunschweig C++ Meetup</a>
        </td>
        <td>
            <!-- Donnerstag -->
            2. im Monat: <a href="http://www.jug-ostfalen.de" target="_blank">JUG Ostfalen Vortrag</a>, 19:00
        </td>
        <td>
            <!-- Freitag -->
        </td>
        <td>
            <!-- Samstag -->
            vorletzter im Monat: <a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Coder Dojo Stratum0</a>, 14:00 - 17:00
        </td>
        <td>
            <!-- Sonntag -->
        </td>
</table>
<app-footer></app-footer>
