<form (ngSubmit)="onLogin(f)" #f="ngForm">
  <div class="container">

    <h1>Please log in</h1>

    <label for="username">Username</label>
    <input class="col"
           type="text"
           id="username"
           size="30"
           pInputText name="username"
           title="Benutzername"
           autocomplete="username"
           ngModel>

    <label for="password" style="margin-top: 10px">Password</label>
    <input class="col"
           type="password"
           id="password"
           size="30"
           pInputText name="password"
           title="Passwort"
           autocomplete="current-password"
           ngModel>
    <button style="height: 40px; width:250px; background-color: #0b6e38; color:white; margin-top: 10px">
      Login
    </button>
  </div>
</form>


